body{
    background-color:wheat;
}
h1{
    color: rebeccapurple;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;
}
h2{
    color:darkblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 500;
}
ul{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}
